# Hugging Face API Token (Get yours free from https://huggingface.co/settings/tokens)
HF_TOKEN=your_huggingface_api_token_here

# Hugging Face LLM Model ID
HUGGINGFACE_REPO_ID=mistralai/Mistral-7B-Instruct-v0.3

# Vector Store Path
DB_FAISS_PATH=faiss_index

# Embedding Model
EMBEDDING_MODEL_NAME=sentence-transformers/all-MiniLM-L6-v2
